* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1400px;
}

.logo {
  width: 81px;
  height: 24px;
  flex-shrink: 0;
}

.btn {
  padding: 0;
  width: 185px;
  height: 50px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  color: var(--color-white);
  background-color: var(--color-green);
  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

.btn--signin {
  color: var(--color-black);
  background-color: transparent;
}

.btn:hover,
.btn:focus-visible {
  outline: 2px solid var(--color-dark-green);
}

@media (max-width:992px) {
  .btn {
    width: 120px;
    font-size: 16px;
  }
}